.Navigator {
  width: 500px;
  margin-left: 300px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.text {
  margin: 0;
}

.button {
  margin-left: 5px;
  cursor: pointer;
  padding: 8px;
  font-size: 13px;
  width: 80px;
  color: #ffffff;
  background-color: teal;
  border: none;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
